<div id="main" class="container">
  <div id="mainbody">
    <div class=" bgcontainer bgcontainer-2">
      <div id="topad" class="container" hidden="" fj3envo="">
        <div class="adbox adbox-2">
          <div class="ad">
            <div class="adimage">
              <img class="topimage" src="/assets/user/ad_image/wso-of-the-day-banner-256x256.gif">
            </div>
            <div class="adtext">
              <a class="adheadline" href="/advertise/adclick.php?id=9254" target="_blank">
                Amazon's Secret Love Language? </a>
              <div class="adbody">
                "...the bold promises he makes - kept... and they are GOLD..." </div>
            </div>
          </div>
        </div>
      </div>
    </div><style>
    img {
      max-width: inherit;
      height: none !important;
    }
  </style>

    <div align="center">
      <table border="0" cellspacing="0" cellpadding="5" class="enclosing">
        <tbody><tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="3"><img src="img/headerleftsm.jpg" width="3" height="25" alt=""></td>
                <td class="headersm">Knowledgebase</td>
                <td width="3"><img src="img/headerrightsm.jpg" width="3" height="25" alt=""></td>
              </tr>
              </tbody></table>
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tbody><tr>
                <td valign="top">
<span class="smaller"><a href="https://warriorplus.com" class="smaller">WarriorPlus</a> &gt;
<a href="https://warriorplus.com/support" class="smaller">WarriorPlus Support</a>
&gt; <a href="knowledgebase.php" class="smaller">Knowledgebase</a></span>
                </td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <div style="text-align:center">
              <form action="knowledgebase.php" method="get" style="display: inline; margin: 0;" name="searchform">
                <span class="largebold">Search help:</span>
                <input type="text" name="search" class="searchfield">
                <input type="submit" value="Search" title="Search" class="searchbutton"><br>
              </form>
            </div>
            <br>

            <div id="kb_suggestions" style="display:none">
              <img src="./img/loading.gif" width="24" height="24" alt="" border="0" style="vertical-align:text-bottom"> <i>Loading knowledgebase suggestions...</i>
            </div>
            <script language="Javascript" type="text/javascript"><!--
            hesk_suggestKBsearch();
            //-->
            </script>

            <br>
            <h1 class="intercom-article-title">How to List Products &amp; Offers on WarriorPlus (And OTOs/Upsells)</h1>
            <fieldset>
              <legend>Solution</legend>
              <span class="intercom-article-body"><p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>This article applies to the <span style="text-decoration: underline;">WSO Pro Advance License</span> ONLY.</strong></span><br><br><span style="color: #333333; font-family: verdana, geneva; font-size: small;">With the latest updates to WarriorPlus and WSO Pro, Vendors are now able to sell products in more flexible ways, including the ability to list "self-hosted" products that are NOT listed on the Warrior Forum.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">And now, you can also use WarriorPlus to host your offer salespage as well.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">An 'Offer' is simply a way to group your 'Products' and make them available for sale to others. &nbsp;For the most part with this system, you will NOT sell a 'Product' directly -- you will create 'Offers' and add your Products to them (Using the WSO Pro Advance License).</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">Vendors can also set up powerful sales funnels with unlimited products, upsells and downsells.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">This system has been designed to be as easy to use as possible, but here is a quick rundown on how it works:</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="text-decoration: underline; font-family: verdana, geneva; font-size: small;"><span style="background-color: #ffff99;"><strong><a style="color: #0088cc; text-decoration: underline;" href="https://warriorplus.com/help/offer-setup.php" target="_blank">VISUAL LEARNER? Click Here to Watch our Offer/Product Setup Videos</a></strong></span></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>1. Create your Products first</strong></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="font-family: verdana, geneva; font-size: small;"><span style="color: #333333;">No matter if you are selling a single product, or multiple products as part of a sales funnel, the first thing to do is create all of your products. &nbsp;This is done by going to the</span>&nbsp;<span style="text-decoration: underline;"><a style="color: #0088cc; text-decoration: underline;" href="http://www.warriorplus.com/wsopro/my-listings" target="_blank">My Products page</a></span>&nbsp;<span style="color: #333333;">in the Vendor area, and clicking the green '+ New Product' button near the top right.</span></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">If you only have 1 product in your offer, and that product is posted as a WSO on the Warrior Forum, you don't need to do anything else. &nbsp;Just be sure to select 'Standalone WSO Product' in the Product editor and set the appropripate options.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">For anyone creating a sales funnel and/or off-forum offer, read on...</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>2. Create your Offer</strong></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="font-family: verdana, geneva; font-size: small;"><span style="color: #333333;">Creating an offer is easy. &nbsp;Simply visit the</span>&nbsp;<span style="text-decoration: underline;"><a style="color: #0088cc; text-decoration: underline;" href="http://www.warriorplus.com/wsopro/offers/" target="_blank">My Offers page</a></span>&nbsp;<span style="color: #333333;">in the Vendor area and click the green '<strong>+ New Offer</strong>' button near the top right.</span></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">When setting up an offer, you will be asked to select your WSO Post (optional) and enter the URL of your salespage. &nbsp;If you do not have the URL yet, or are awaiting approval of your WSO, simply enter any URL you like there -- just be sure to change it before you go live.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>3. Add your Offer Pages</strong></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">Once your offer is created, you will be taken to the offer setup screen. &nbsp;Here you will be able to create your sales process for your offer.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">The first page -- Main page -- will be created for you automatically. &nbsp;You will just need to create any additional pages you need for your upsells and downsells, if applicable.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>4. Add your Products to the correct Offer Pages</strong></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">Once all of your pages are created, you will click the green '+ Add Product' button on each page to add the products that you will be selling on that page. &nbsp;You can have as many products as you like on each page, which is useful if you present your buyer with multiple options.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>5. Connect your Offer Pages with Upsells and/or Downsells</strong></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">If you have multiple Offer Pages, that means you have upsells and downsells you will be presenting to your buyers as part of the sales process.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">To add an upsell, simply click the black plus ('+') icon next to the product. &nbsp;This will open a popup, in which you can select which Offer Page you want the buyer to go to if they buy this product.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">To add a downsell, simply click the orange plus ('+') icon at the bottom right of the Offer Page card, and follow the same process. &nbsp;The buyer is directed to a downsell when they click the 'No Thanks' link on your page. &nbsp;The code for the no thanks link is provided for you in the 'Get Code' area.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">As you start adding upsells and downsells, you will notice an Offer Map appear at the bottom of the page to show you a visual representation of what your sales funnel looks like. &nbsp;If something is wrong, you should be able to spot it here.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>6. Get the Embed Code for each Offer Page</strong></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">On each Offer Page card, you will see a button near the bottom that says 'Get Code'. &nbsp;This will open a popup with all of the codes you need to put on your salespage. &nbsp;This includes the Button Code for each product on your page, as well as the Downsell/No Thanks link for any of your funnel pages.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">You must use this code exactly as given for your funnel to function properly. &nbsp;You can choose between HTML-based code and BBCode, which is what is used on the Warrior Forum. &nbsp;Be sure to choose the appropriate code for your pages.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>7. Validate your Embed Code</strong></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">Once you get all the embed codes on your pages, you can make sure it is right by click the exclamation point ('!') icon right next to the 'Get Code' button on each Offer Page. &nbsp;WarriorPlus will look at your page for you, and will report back if everything looks good, or if something needs fixing.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">When everything looks right on a page and WarriorPlus can validate it, the '!' will turn to a green check mark button, letting you know that the page is good to go.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;"><strong>8. Activate your Offer</strong></span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">Now that you have everything setup and working, you can click the 'Activate Offer' button and either make your offer live right away, or schedule it for release at some future date. &nbsp;If your offer is set as 'Public', then once activated it will show up in the Marketplace. &nbsp;And, if you are using the Affiliate Program, it will also show on the Affiliate Offers page.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;"><span style="color: #333333; font-family: verdana, geneva; font-size: small;">And that's it! This process is fairly easy once you get used to it, and we believe it is quite intuitive. &nbsp;With any changes, though, we know there can be a learning curve and we are here to help. &nbsp;If you just can't figure something out, please open a support ticket and we will help you get everything straightened out.</span></p>
<p style="margin: 0px 0px 10px; color: #4a5571; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px;">&nbsp;</p></span>
              <div id="rating" class="rate" align="right">&nbsp;<br>Was this article helpful?
                <a href="Javascript:void(0)" onclick="Javascript:window.location='knowledgebase.php?rating=5&amp;id=62'" rel="nofollow">yes</a> /
                <a href="Javascript:void(0)" onclick="Javascript:window.location='knowledgebase.php?rating=1&amp;id=62'" rel="nofollow">no</a>
              </div>
            </fieldset><fieldset><legend>Related articles</legend><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=154">External Membership Integration Information</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=108">What is the "Deal of the Day" and how can my offer be featured?</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=187">How to Add Pixel Tracking Code as a Vendor/Affiliate</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=73">Vendor NOT responding to support tickets or refund requests</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=186">Can I sell Private Label Rights (PLR) and/or Resell Rights (MRR/RR) products on WarriorPlus?</a><br></fieldset>
            <fieldset>
              <legend>Article details</legend>
              <table border="0">
                <tbody><tr>
                  <td>Article ID: </td>
                  <td>62</td>
                </tr>
                <tr>
                  <td>Category: </td>
                  <td><a href="knowledgebase.php?category=11" class="intercom-article-category">Selling on WarriorPlus</a></td>
                </tr>
                <tr>
                  <td>Date added: </td>
                  <td>2014-02-11 1:52pm</td>
                </tr>
                <tr>
                  <td>Views: </td>
                  <td>22056</td>
                </tr>
                <tr>
                  <td>Rating (Votes):</td>
                  <td><img src="img/star_35.png" width="85" height="16" alt="Article rated 3.3/5.0" title="Article rated 3.3/5.0" border="0" style="vertical-align:text-bottom"> (167)</td>
                </tr>
                </tbody></table>
            </fieldset>
            <p>&nbsp;<br>« <a href="javascript:history.go(-1)">Go back</a></p>
          </td></tr></tbody></table></div></div>
</div>