<div class="kbe_breadcrum">
  <ul>
    <li><a href="https://alpha-omar-blog.herokuapp.com/">Home</a></li>
    <li><a href="https://alpha-omar-blog.herokuapp.com//kb">Kb</a></li>
    <li>
      Article b           </li>
  </ul>
</div>
<h1 class="intercom-article-title">article b</h1>
<span class="intercom-article-body">
  <p> This is the body b </p>
  <p> This the second line of the body b </p>
</span>