<div id="main" class="container">
  <div id="mainbody">
    <div class=" bgcontainer bgcontainer-2">
      <div id="topad" class="container" hidden="" gho8a4m="">
        <div class="adbox adbox-2">
          <div class="ad">
            <div class="adimage">
              <img class="topimage" src="/assets/user/ad_image/wso-of-the-day-banner-256x256.gif">
            </div>
            <div class="adtext">
              <a class="adheadline" href="/advertise/adclick.php?id=9266" target="_blank">
                Image SEO on Crack? (And Video, Too)... </a>
              <div class="adbody">
                "...Unparalleled SEO -- ranks sites unbelievably fast..." </div>
            </div>
          </div>
        </div>
      </div>
    </div><style>
    img {
      max-width: inherit;
      height: none !important;
    }
  </style>

    <div align="center">
      <table border="0" cellspacing="0" cellpadding="5" class="enclosing">
        <tbody><tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="3"><img src="img/headerleftsm.jpg" width="3" height="25" alt=""></td>
                <td class="headersm">Knowledgebase</td>
                <td width="3"><img src="img/headerrightsm.jpg" width="3" height="25" alt=""></td>
              </tr>
              </tbody></table>
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tbody><tr>
                <td valign="top">
<span class="smaller"><a href="https://warriorplus.com" class="smaller">WarriorPlus</a> &gt;
<a href="https://warriorplus.com/support" class="smaller">WarriorPlus Support</a>
&gt; <a href="knowledgebase.php" class="smaller">Knowledgebase</a></span>
                </td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <div style="text-align:center">
              <form action="knowledgebase.php" method="get" style="display: inline; margin: 0;" name="searchform">
                <span class="largebold">Search help:</span>
                <input type="text" name="search" class="searchfield">
                <input type="submit" value="Search" title="Search" class="searchbutton"><br>
              </form>
            </div>
            <br>

            <div id="kb_suggestions" style="display:none">
              <img src="./img/loading.gif" width="24" height="24" alt="" border="0" style="vertical-align:text-bottom"> <i>Loading knowledgebase suggestions...</i>
            </div>
            <script language="Javascript" type="text/javascript"><!--
            hesk_suggestKBsearch();
            //-->
            </script>

            <br>
            <h1 class="intercom-article-title">How to Add Pixel Tracking Code as a Vendor/Affiliate</h1>
            <fieldset>
              <legend>Solution</legend>
              <span class="intercom-article-body"><p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You can now add Facebook and Google Analytics Pixel Tracking Codes within WarriorPlus so that you can gather more data about your buyers and prospects, as well as engage them in retargeting campaigns, etc.</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">How to Set Up a Pixel Tracking Code within WarriorPlus</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Go to</span><a style="text-decoration-line: none;" href="https://warriorplus.com/user/tracking"><span style="font-size: 14pt; font-family: Arial; color: #1155cc; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">https://warriorplus.com/user/tracking</span></a><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"> and click on </span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">"+Add Pixel"</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><img style="border-width: initial; border-style: none; transform: rotate(0rad);" src="https://lh5.googleusercontent.com/hnoyoyWGReVBuisanTZ5vaXsUBZaPHT9PWZwsHLxXokkJWBa5gsO8HqfRwq-lS6U9K3ZdvKzAB7_JO3OE-zQTQipbfqlM_S_jHifsdaUAuH641ouy1JFn9kGJwhB1PsJYe2I1hsH" alt="" width="624" height="109"></span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Then, you'll have the option to choose 'Facebook' or 'Google Analytics' as well as name the Pixel (for your records) and add the pixel code from Facebook or Google, as seen below:</span></p>
<p><span>&nbsp;<img src="https://content.screencast.com/users/kayoatl/folders/Jing/media/f28f5c7e-e136-4ed3-8b6d-d41b296e483f/00006005.png" alt=""></span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr">&nbsp;</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To get your </span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Facebook</span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"> pixel code, Go to: </span><a style="text-decoration-line: none;" href="http://facebook.com/ads/manager/pixel/facebook_pixel"><span style="font-size: 14pt; font-family: Arial; color: #1155cc; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">http://facebook.com/ads/manager/pixel/facebook_pixel</span></a></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Copy the numeric 'Pixel ID' shown on the page, as seen here:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><img style="border-width: initial; border-style: none; transform: rotate(0rad);" src="https://lh6.googleusercontent.com/RYSsspqyqus-ACt6Q0SWWiUx5fsnvPPkhAsTLE_8Tb6b4Z2cFISLLsBO6DtaueRPgO1ndnrJjzAtFGjAM45fPPcfbQlLyR2VeWk1z8zeGRXqdJN1RM6vbSDPhXzDRoAZCB3xnLRP" alt="" width="624" height="260"></span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For </span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Google</span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, Go to: </span><a style="text-decoration-line: none;" href="https://analytics.google.com/analytics/web/#management/Settings"><span style="font-size: 14pt; font-family: Arial; color: #1155cc; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">https://analytics.google.com/analytics/web/#management/Settings</span></a></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Click on 'Tracking info'</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Click on 'Tracking Code'</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Copy the 'Tracking ID' shown on the page, as seen here:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><img style="border-width: initial; border-style: none; transform: rotate(0rad);" src="https://lh6.googleusercontent.com/m21ZTB3TNRZN14PlvM55-q0aLoXqEroYsOEdiQl8Da0MTyYkXMTKLDtSHGhDgfknC4N3oVer2OjRjdZD7bRj3tBDlPgJrnLb-5wkBvLuxqhQWFS1hct2yE_E09sJgYUwWSsUsdbm" alt="" width="624" height="217"></span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Adding Your Pixel to Your Offers/Products:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Vendors:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Within the Product Editor AND/OR Offer Editor, you may add your tracking pixel(s). It will look like this:</span></p>
<p>&nbsp;</p>
<p><img src="https://content.screencast.com/users/Shanerbaner/folders/Jing/media/545a101c-6e36-445a-8daf-4a7bd28a9378/00001230.png" alt="" width="700" height="264"></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr">&nbsp;</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Add Your Tracking Code to Your Sales Page:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">After creating your pixel, you will need to add the snippet of code to your sales page (or have your developer do it).</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">When you click on "Get Code" to get the buy button code for your offer, there will be a "External Tracking / Pixels" TAB. Click on that tab to get the snippet.</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">See below:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><img style="border-width: initial; border-style: none; transform: rotate(0rad);" src="https://lh6.googleusercontent.com/KmYxo_jJEfhcJ2bvvfDVr2yXGaDkKtjIExT6GYBVg14bXDoJpl_qDJI45IjOuDQoRPmSaiilHeE69H7kOp20tLHUqUEq4QvpspmhstRItQX5gHD7m2A4Ayqscnc-RlErB0MPOSw5" alt="" width="624" height="336"></span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Then…</span></p>
<p><span>&nbsp;</span></p>
<p><span><img src="https://content.screencast.com/users/Shanerbaner/folders/Jing/media/3fec05d8-45a0-403c-a5d2-c37c9e718f99/00001231.png" alt="" width="719" height="583"></span></p>
<p>&nbsp;</p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Affiliates:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">When you go to </span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">"Affiliates" &gt;&gt; "Get Links"</span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"> and you click on </span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">"Get Link"</span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"> for an offer, you will see a popup like the one below. To turn tracking on, you must toggle the </span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">'ON' </span><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">switch, which will trigger the tracking options for Facebook, Google, etc. </span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><img style="border-width: initial; border-style: none; transform: rotate(0rad);" src="https://lh6.googleusercontent.com/aP328o3ZCpQS0tqLkSAFB5mj0A0FTnyXa6PSwRmHjKaIe6ZSQtW93TGn1gd98R64rvqr2Np_JMMwWo_k88HheRp6CUmAoTYm3DAznlgT0TRFZPdWPFociGLfueGMwgypYserRRiL" alt="" width="555" height="533"></span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Setting up an Image Pixel URL:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To use an image pixel URL, it’s the same process as above for vendors and affiliates to create the initial pixel and apply it to your links, etc.</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Here are the following available tokens that can be used for image pixel URLs and how they are used:</span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((event))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Event type 'wpView', 'wpCheckout', or 'wpPurchase'</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((sale_id))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Sale ID in the format of 'sale_[salecode]'. wpPurchase event only</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Example 'sale_dj0hmqc9'</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((product_id))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Product ID in the format of 'product_[listingcode]'.</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Example 'product_nbtf0v'</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((product_name))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Product name.</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((offer_id))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: Offer ID in the format of 'ofr_[offercode]'.</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Examplle 'ofr_b655jd'.</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((product_price))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Product price.</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((sale_amount))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Sale amount (after coupon is applied)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((recurring))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Recurring flag 'true' or 'false'.</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((hop_sid))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Hop SubID. There could be one for vendor and one for affiliate (user only sees their own SubID)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((hop_tid))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Hop TrackID. There could be one for vendor and one for affiliate (user only sees their own TrackID)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((sid))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Button tracking code. (vendor only)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((customer_id))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Customer ID in the format of 'cus_[personcode]'. wpPurchase event only (vendor only)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Example 'aff_u98a3d3601e35408'</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((affiliate_id))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Affiliate ID in the format of 'aff_[personcode]'. (vendor only)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Example 'aff_u98a3d3601e35408'</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((payment_gateway))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Payment method 'Stripe','Paypal','Wallet', or 'Free'. wpPurchase event only (vendor only)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((payment_gateway_txn))</span><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Payment transaction ID. wpPurchase event only (vendor only)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Exmaple 'ch_1BeS1nJPLfZZFJQ5VpUVzGRd'</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Image URL Example:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><a style="text-decoration-line: none;" href="http://your-pixel-domain.com/?event="><span style="font-size: 10.5pt; font-family: Arial; color: #444444; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">http://your-pixel-domain.com/?event=</span></a><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">((event))&amp;sid=((sid))</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr">&nbsp;</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Event data</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Listed pre-defined event and W+ custom event with example data below that are included when a pixel is called:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr">&nbsp;</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="color: #000000;"><strong><span style="font-size: 10.5pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">'</span><span style="font-size: 10.5pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">View' event for offers</span></strong></span></p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><span style="color: #000000;"><strong>'Checkout' event for offers</strong></span></p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><span style="text-decoration: underline;"><span style="color: #000000; text-decoration: underline;"><strong>Google</strong></span></span></p>
<pre style="overflow: auto; font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 14px; transform: translateZ(0px); background-color: #f8f9f9; border-radius: 2px; border: 1px solid #e2e4e6; margin-right: 0px; margin-left: 0px; padding: 8px 10px; word-wrap: normal; line-height: 1.25em; max-height: 516px; color: #333333;"><code style="font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 1em; border: none; border-radius: 0px; color: #4d4d4d; padding: 0px; margin: 0px; line-height: 1.25em; box-shadow: none;">gtag('event', 'begin_checkout', {
    value: 23.30,
    currency: 'USD'
});

gtag('event', 'wpCheckout', {
    product_id: 'product_nbtf0v',
    product_name: 'Product name',
    recurring: 'false',
    offer_id: 'ofr_b655jd',
    sale_currency: 'USD',
    product_price: '23.30',
    sale_amount: '23.30',
    affiliate_id: 'aff_u7c80ca92f1c76c9',
    hop_tid: 'tid29',
    hop_sid: 'subid29',
    sid: 'buttonsid28'
});</code></pre>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><span style="text-decoration: underline; color: #000000;"><strong>Facebook</strong></span></p>
<pre style="overflow: auto; font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 14px; transform: translateZ(0px); background-color: #f8f9f9; border-radius: 2px; border: 1px solid #e2e4e6; margin-right: 0px; margin-left: 0px; padding: 8px 10px; word-wrap: normal; line-height: 1.25em; max-height: 516px; color: #333333;"><code style="font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 1em; border: none; border-radius: 0px; color: #4d4d4d; padding: 0px; margin: 0px; line-height: 1.25em; box-shadow: none;">fbq('track', 'AddToCart', {
    value: 23.30,
    currency: 'USD'
});

fbq('trackCustom', 'wpCheckout', {
    product_id: 'product_nbtf0v',
    product_name: 'Custom Pixel 52072',
    recurring: 'false',
    offer_id: 'ofr_b655jd',
    sale_currency: 'USD',
    product_price: '23.30',
    sale_amount: '23.30',
    affiliate_id: 'aff_u7c80ca92f1c76c9',
    hop_tid: 'tid29',
    hop_sid: 'subid29',
    sid: 'buttonsid28'
});</code></pre>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><span style="color: #000000;"><strong>'Purchase' event for offers</strong></span></p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><span style="text-decoration: underline;"><span style="color: #000000; text-decoration: underline;"><strong>Google</strong></span></span></p>
<pre style="overflow: auto; font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 14px; transform: translateZ(0px); background-color: #f8f9f9; border-radius: 2px; border: 1px solid #e2e4e6; margin-right: 0px; margin-left: 0px; padding: 8px 10px; word-wrap: normal; line-height: 1.25em; max-height: 516px; color: #333333;"><code style="font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 1em; border: none; border-radius: 0px; color: #4d4d4d; padding: 0px; margin: 0px; line-height: 1.25em; box-shadow: none;">gtag('event', 'purchase', {
    value: 23.40,
    currency: 'USD',
    transaction_id: 'sale_jvc2n3tk',
    tax: '0.00',
    shipping: '0.00',
    items: { id: 'product_nbtf0v', price: '23.40' }
});

gtag('event', 'wpPurchase', {
    product_id: 'product_nbtf0v',
    product_name: 'Product Name',
    recurring: 'false',
    offer_id: 'ofr_b655jd',
    sale_currency: 'USD',
    sale_id: 'sale_jvc2n3tk',
    product_price: '23.30',
    sale_amount: '23.30',
    customer_id: 'cus_u98a3d3601e35408',
    payment_gateway: 'Stripe',
    payment_gateway_txn: 'ch_1BeVKbJPLfZZFJQ5IGGiSi9E',
    affiliate_id: 'aff_u7c80ca92f1c76c9',
    hop_tid: 'tid29',
    hop_sid: 'subid29',
    sid: 'buttonsid28'
});</code></pre>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><span style="text-decoration: underline; color: #000000;"><strong>Facebook</strong></span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr">&nbsp;</p>
<pre style="overflow: auto; font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 14px; transform: translateZ(0px); background-color: #f8f9f9; border-radius: 2px; border: 1px solid #e2e4e6; margin-right: 0px; margin-left: 0px; padding: 8px 10px; word-wrap: normal; line-height: 1.25em; max-height: 516px; color: #333333;"><code style="font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 1em; border: none; border-radius: 0px; color: #4d4d4d; padding: 0px; margin: 0px; line-height: 1.25em; box-shadow: none;">fbq('track', 'Purchase', {
    value: 23.40,
    currency: 'USD'
});

fbq('trackCustom', 'wpPurchase', {
    product_id: 'product_nbtf0v',
    product_name: 'Custom Pixel 52072',
    recurring: 'false',
    offer_id: 'ofr_b655jd',
    sale_currency: 'USD',
    sale_id: 'sale_jvc2n3tk',
    product_price: '23.30',
    sale_amount: '23.30',
    customer_id: 'cus_u98a3d3601e35408',
    payment_gateway: 'Stripe',
    payment_gateway_txn: 'ch_1BeVKbJPLfZZFJQ5IGGiSi9E',
    affiliate_id: 'aff_u7c80ca92f1c76c9',
    hop_tid: 'tid29',
    hop_sid: 'subid29',
    sid: 'buttonsid28'
});</code></pre>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr">&nbsp;</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="background-color: transparent; color: #333333; font-family: Arial; font-size: 10.5pt;">Not included if it's an affiliate pixel:</span></span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">affiliate_id</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">customer_id</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">payment_gateway</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">payment_gateway_txn</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr">&nbsp;</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Not included if a pixel is set at the product level:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Verdana; color: #eb5a46; background-color: #f8f9f9; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">offer_id</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr">&nbsp;</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 10.5pt; font-family: Arial; color: #333333; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">If there is no value, the field is not included.</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">----- </span></p>
<p><span>&nbsp;</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Pixel URL format</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Which shows up as page view in Google:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><img style="border-width: initial; border-style: none; transform: rotate(0rad);" src="https://lh6.googleusercontent.com/K_ExLxQYcoDOH6-GMVde-neajPDc06_sAIaEtH7w2R3vDlCKv02rjrmURyf_RuLlC6bYb04mAust5RlWSH8l0wa30hAvkbqy9erAuMlRQyuGGUZuNWUGCeye5jpKdag2Sz25kxOb" alt="" width="624" height="280"></span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Offer:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">View (sales page - JS from offer builder must be embedded in the sale page)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><a style="text-decoration-line: none;" href="http://warriorplus.com/buy/trk/view/[page_code]/0"><span style="font-size: 14pt; font-family: Arial; color: #000000; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">http://warriorplus.com/buy/trk/view/[page_code]/0</span></a></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Checkout</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><a style="text-decoration-line: none;" href="http://warriorplus.com/buy/trk/checkout/[page_code]/[listingcode]?p=[price]&amp;lid=[logid"><span style="font-size: 14pt; font-family: Arial; color: #000000; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">http://warriorplus.com/buy/trk/checkout/[page_code]/[listingcode]?p=[price]&amp;lid=[logid</span></a><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">]</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Purchase (thank you page)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><a style="text-decoration-line: none;" href="http://warriorplus.com/buy/trk/purchase/[page_code]/[listingcode]?s=[salecode]&amp;lid=[logid"><span style="font-size: 14pt; font-family: Arial; color: #000000; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">http://warriorplus.com/buy/trk/purchase/[page_code]/[listingcode]?s=[salecode]&amp;lid=[logid</span></a><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">]</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Standalone product:</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr">&nbsp;</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Checkout</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><a style="text-decoration-line: none;" href="http://warriorplus.com/buy/trk/checkout/0/[listingcode]?p=[price]&amp;lid=[logid"><span style="font-size: 14pt; font-family: Arial; color: #000000; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">http://warriorplus.com/buy/trk/checkout/0/[listingcode]?p=[price]&amp;lid=[logid</span></a><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">]</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-weight: bold; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Purchase (thank you page)</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 6pt;" dir="ltr"><a style="text-decoration-line: none;" href="http://warriorplus.com/buy/trk/purchase/0/[listingcode]?s=[salecode]&amp;lid=[logid"><span style="font-size: 14pt; font-family: Arial; color: #000000; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">http://warriorplus.com/buy/trk/purchase/0/[listingcode]?s=[salecode]&amp;lid=[logid</span></a><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">]</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="font-size: 14pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">-----</span></p>
<p><span>&nbsp;</span></p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><span style="text-decoration: underline; color: #000000;"><span style="font-weight: bold;">Tracking codes</span></span></p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">There are 3 types of 'tracking' code for vendors and 2 types for affiliates that they can use.</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><code style="font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 1em; background-color: #f8f9f9; border: 1px solid #e2e4e6; border-radius: 2px; color: #eb5a46; padding: 1px 3px; margin: -1px 2px; line-height: 1.25em;">sid</code><br>This is for buy buttons and vendors enter it from:</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><img src="https://content.screencast.com/users/kayoatl/folders/Jing/media/f713e1f8-e988-4edb-8d12-7f03b1313b59/00005959.png" alt="" width="949" height="778"></p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><code style="font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 1em; background-color: #f8f9f9; border: 1px solid #e2e4e6; border-radius: 2px; color: #eb5a46; padding: 1px 3px; margin: -1px 2px; line-height: 1.25em;">hop_sid</code><br>This is the 'SubID' and vendors usually enter it from:</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><img src="https://content.screencast.com/users/kayoatl/folders/Jing/media/98a8463e-a418-459e-a4fc-bc06e98b0edf/00005958.png" alt="" width="951" height="774"></p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">For affiliates the sid can be appended to affiliate links in the following&nbsp;format:&nbsp;<a style="background-color: transparent; color: #444444;" href="https://warriorplus.com/o2/a/[affcode]/0/[hop_sid" rel="noreferrer nofollow" target="_blank">https://warriorplus.com/o2/a/[affcode]/0/[hop_sid</a>]</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;"><code style="font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 1em; background-color: #f8f9f9; border: 1px solid #e2e4e6; border-radius: 2px; color: #eb5a46; padding: 1px 3px; margin: -1px 2px; line-height: 1.25em;">hop_tid</code></p>
<p style="margin: 0px 0px 8px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">This is a new hop tracking code that can be used to track a customer. It can be appended to vendor or affiliate links after the hop_sid.</p>
<p style="margin: 0px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">Format:&nbsp;</p>
<p style="margin: 0px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</p>
<p style="margin: 0px; text-overflow: ellipsis; word-wrap: break-word; color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">affiliate:&nbsp;<a style="background-color: transparent; color: #444444;" href="https://warriorplus.com/o2/a/[affcode]/0/[hop_sid]/[hop_tid" rel="noreferrer nofollow" target="_blank">https://warriorplus.com/o2/a/[affcode]/0/[hop_sid]/[hop_tid</a>]</p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">vendor:</span><span style="color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</span><a style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px; background-color: transparent; color: #444444;" href="https://warriorplus.com/o2/v/[pagecode]/0/[hop_sid]/[hop_tid" rel="noreferrer nofollow" target="_blank">https://warriorplus.com/o2/v/[pagecode]/0/[hop_sid]/[hop_tid</a><span style="color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px;">]</span><span style="background-color: transparent; font-family: Arial; font-size: 14pt; white-space: pre-wrap;">&nbsp;</span></p></span>
              <div id="rating" class="rate" align="right">&nbsp;<br>Was this article helpful?
                <a href="Javascript:void(0)" onclick="Javascript:window.location='knowledgebase.php?rating=5&amp;id=187'" rel="nofollow">yes</a> /
                <a href="Javascript:void(0)" onclick="Javascript:window.location='knowledgebase.php?rating=1&amp;id=187'" rel="nofollow">no</a>
              </div>
            </fieldset><fieldset><legend>Related articles</legend><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=188">How to Use Tokens as Part of Delivery URL and Salespage URL</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=62">How to List Products &amp; Offers on WarriorPlus (And OTOs/Upsells)</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=154">External Membership Integration Information</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=108">What is the "Deal of the Day" and how can my offer be featured?</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=177">What are coupons and how are they used?</a><br></fieldset>
            <fieldset>
              <legend>Article details</legend>
              <table border="0">
                <tbody><tr>
                  <td>Article ID: </td>
                  <td>187</td>
                </tr>
                <tr>
                  <td>Category: </td>
                  <td><a href="knowledgebase.php?category=11" class="intercom-article-category">Selling on WarriorPlus</a></td>
                </tr>
                <tr>
                  <td>Date added: </td>
                  <td>2018-01-10 3:40pm</td>
                </tr>
                <tr>
                  <td>Views: </td>
                  <td>419</td>
                </tr>
                <tr>
                  <td>Rating (Votes):</td>
                  <td><img src="img/star_0.png" width="85" height="16" alt="Article not rated yet" title="Article not rated yet" border="0" style="vertical-align:text-bottom"> (0)</td>
                </tr>
                </tbody></table>
            </fieldset>
            <p>&nbsp;<br>« <a href="javascript:history.go(-1)">Go back</a></p>
          </td></tr></tbody></table></div></div>
</div>