<div id="main" class="container">
  <div id="mainbody">
    <div class=" bgcontainer bgcontainer-2">
      <div id="topad" class="container" hidden="" thcohyv="">
        <div class="adbox adbox-2">
          <div class="ad">
            <div class="adimage">
              <img class="topimage" src="/assets/user/ad_image/wso-of-the-day-banner-256x256.gif">
            </div>
            <div class="adtext">
              <a class="adheadline" href="/advertise/adclick.php?id=9254" target="_blank">
                Amazon's Secret Love Language? </a>
              <div class="adbody">
                "...the bold promises he makes - kept... and they are GOLD..." </div>
            </div>
          </div>
        </div>
      </div>
    </div><style>
    img {
      max-width: inherit;
      height: none !important;
    }
  </style>

    <div align="center">
      <table border="0" cellspacing="0" cellpadding="5" class="enclosing">
        <tbody><tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="3"><img src="img/headerleftsm.jpg" width="3" height="25" alt=""></td>
                <td class="headersm">Knowledgebase</td>
                <td width="3"><img src="img/headerrightsm.jpg" width="3" height="25" alt=""></td>
              </tr>
              </tbody></table>
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tbody><tr>
                <td valign="top">
<span class="smaller"><a href="https://warriorplus.com" class="smaller">WarriorPlus</a> &gt;
<a href="https://warriorplus.com/support" class="smaller">WarriorPlus Support</a>
&gt; <a href="knowledgebase.php" class="smaller">Knowledgebase</a></span>
                </td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        <tr>
          <td>
            <br>

            <div style="text-align:center">
              <form action="knowledgebase.php" method="get" style="display: inline; margin: 0;" name="searchform">
                <span class="largebold">Search help:</span>
                <input type="text" name="search" class="searchfield">
                <input type="submit" value="Search" title="Search" class="searchbutton"><br>
              </form>
            </div>
            <br>

            <div id="kb_suggestions" style="display:none">
              <img src="./img/loading.gif" width="24" height="24" alt="" border="0" style="vertical-align:text-bottom"> <i>Loading knowledgebase suggestions...</i>
            </div>
            <script language="Javascript" type="text/javascript"><!--
            hesk_suggestKBsearch();
            //-->
            </script>

            <br>
            <h1 class="intercom-article-title">How do I process refunds? (Vendors)</h1>
            <fieldset>
              <legend>Solution</legend>
              <span class="intercom-article-body"><p><span style="color: #333333;"><span style="font-family: verdana, geneva; font-size: small;"><strong>HOW TO PROCESS A REFUND (FOR VENDORS/SELLERS):</strong><br><br></span><span style="font-family: verdana, geneva; font-size: small;">1. To process a refund for a buyer of one of your products, you can go to "Vendors" in the top navigation menu, then click on "Transactions" or use the direct link here:<br><a href="https://warriorplus.com/wsopro/vendor/transactions.php" target="_blank">https://warriorplus.com/wsopro/vendor/transactions.php</a></span></span></p>
<p><span style="color: #333333;"><span style="font-family: verdana, geneva; font-size: small;"><br></span><span style="font-family: verdana, geneva; font-size: small;">2. Near the top of the page, there is a yellow box designed to "search sales" and it has 3 text boxes in it: Buyer Email, Item # and Transaction ID. You can search for individual purchases using the buyer's email address, the item # or the Transaction ID. The buyer's email address is usually the easiest and quickest way. Enter the buyer's email address and click "Search Sales."<br><br></span><span style="font-family: verdana, geneva; font-size: small;">3. Find the purchase you're looking for and click the "Eyeball" ICON/SYMBOL to the right of it. The icon looks like this:<img src="http://i.imgur.com/2uIICNd.png" alt=""><br><br></span><span style="font-family: verdana, geneva; font-size: small;">4. You will now have the option to refund the buyer with the click of a button. It will be the 3rd button down on the right, underneath the options to "Email Buyer" and "Resend Receipt." Click "Refund Buyer" and follow the prompts and your refund will be complete.<br><br><br></span><br></span></p></span>
              <div id="rating" class="rate" align="right">&nbsp;<br>Was this article helpful?
                <a href="Javascript:void(0)" onclick="Javascript:window.location='knowledgebase.php?rating=5&amp;id=77'" rel="nofollow">yes</a> /
                <a href="Javascript:void(0)" onclick="Javascript:window.location='knowledgebase.php?rating=1&amp;id=77'" rel="nofollow">no</a>
              </div>
            </fieldset><fieldset><legend>Related articles</legend><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=62">How to List Products &amp; Offers on WarriorPlus (And OTOs/Upsells)</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=154">External Membership Integration Information</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=187">How to Add Pixel Tracking Code as a Vendor/Affiliate</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=108">What is the "Deal of the Day" and how can my offer be featured?</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=112">How can I easily find ALL of my transactions?</a><br></fieldset>
            <fieldset>
              <legend>Article details</legend>
              <table border="0">
                <tbody><tr>
                  <td>Article ID: </td>
                  <td>77</td>
                </tr>
                <tr>
                  <td>Category: </td>
                  <td><a href="knowledgebase.php?category=11" class="intercom-article-category">Selling on WarriorPlus</a></td>
                </tr>
                <tr>
                  <td>Date added: </td>
                  <td>2014-05-14 1:50pm</td>
                </tr>
                <tr>
                  <td>Views: </td>
                  <td>1247</td>
                </tr>
                <tr>
                  <td>Rating (Votes):</td>
                  <td><img src="img/star_35.png" width="85" height="16" alt="Article rated 3.3/5.0" title="Article rated 3.3/5.0" border="0" style="vertical-align:text-bottom"> (14)</td>
                </tr>
                </tbody></table>
            </fieldset>
            <p>&nbsp;<br>« <a href="javascript:history.go(-1)">Go back</a></p>
          </td></tr></tbody></table></div></div>
</div>