<body onload="!window.__cfRl||__cfRl.r(function(){javascript:var i=new Image();i.src='./img/orangebtnover.gif';var i2=new Image();i2.src='./img/greenbtnover.gif';},this)">



<title>WarriorPlus | WarriorPlus</title>
<meta property="og:type" content="website">
<meta property="og:title" content="WarriorPlus">
<meta property="og:site_name" content="WarriorPlus : Sell. Promote. Earn.">
<meta property="og:url" content="https://warriorplus.com/support/knowledgebase.php?article=43">
<meta property="fb:app_id" content="269882119846307">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@WSOTracker">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/favicon.ico">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="/assets/css/main-style.css?v=1519687764">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/blitzer/jquery-ui.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.no-responsive.no-icons.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<link rel="stylesheet" href="/assets/css/main-style-bootstrap.css?v=1519687764">
<link rel="stylesheet" href="//d3u07l2rqmxaz.cloudfront.net/ajax/libs/bootstrap-switch/2.0.1/css/bootstrap2/bootstrap-switch.min.css">
<link rel="stylesheet" href="//d3u07l2rqmxaz.cloudfront.net/ajax/libs/bootstrap-select/1.4.1/bootstrap-select.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.5.2/select2.css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" defer=""></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" defer=""></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" defer=""></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-tooltip.min.js" defer=""></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-popover.min.js" defer=""></script>
<script type="text/javascript" src="//wplus-scripts.s3.amazonaws.com/ajax/libs/bootstrap-switch/2.0.1/js/bootstrap-switch.min.js" defer=""></script>
<script type="text/javascript" src="//wplus-scripts.s3.amazonaws.com/ajax/libs/bootstrap-select/1.4.1/bootstrap-select.min.js" defer=""></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/select2/3.5.2/select2.min.js" defer=""></script>

<script src="https://gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<script>
    // pass in some PHP vars
    var app_userid = null;
    var app_user_email = '';

    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCON_P0RPflkUoK6PwQnIfllkwpH12iKeM",
        authDomain: "warriorplus-1.firebaseapp.com",
        databaseURL: "https://warriorplus-1.firebaseio.com",
        projectId: "warriorplus-1",
        storageBucket: "warriorplus-1.appspot.com",
        messagingSenderId: "807203797596"
    };
</script>
<script src="/assets/js/app-firebase.js?v=1519687764"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue2-filters/0.1.8/vue2-filters.min.js"></script>
<script src="https://unpkg.com/vue-timeago"></script>
<script src="/assets/js/app-vue.js?v=1519687764"></script>

<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<script type="text/javascript" src="/assets/js/functions.js?v=1519687764" defer=""></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/store.js/1.3.20/store.min.js" defer=""></script>
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '661035823949763');
    fbq('track', "PageView");</script>
<noscript>&lt;img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=661035823949763&amp;ev=PageView&amp;noscript=1"
  /&gt;</noscript>
<style>
  #main {
    padding-top: 118px;
  }

  @media (max-height: 650px) {
    #main {
      padding-top: 0;
    }
    .navbar-fixed-top {
      position: static;
    }
  }
</style>
<script>
    $(document).ready(function() {

        // initialize tooltips
        $("*[data-toggle='tooltip']").tooltip();

        // register clicks on topad div
        $("#topad").on("click", function(e) {
            e.preventDefault();

            url = $(this).find('.adheadline').attr('href');
            window.open(url);
        });

        // remove autofade alerts after timeout
        window.setTimeout(function() {
            $(".alert-autofade").fadeTo(200, 0).slideUp(400, function() {
                $(this).remove();
            });
        }, 5000);

        // cookie/storage handling
        var cookieExpireDays = 365;
        var dtidCookie = Cookies.get("dtid");

        if (!initStore() && !dtidCookie) {
            getDtid();
        }

        function getDtid() {
            $.ajax("/include/ajax/dtid.php")
                .done(function(result) {
                    if (result) {
                        if (store.enabled) store.set('dtid', result);
                    }
                });
        }

        function initStore() {
            if (!store.enabled) {
                return false;
            }

            var hasDtid = false;
            var dtidToken = store.get('dtid');

            if (dtidToken) {
                Cookies.set('dtid', dtidToken, { path: '/', expires: cookieExpireDays });
                hasDtid = true;
            } else if (dtidCookie) {
                store.set('dtid', dtidCookie);
                hasDtid = true;
            }

            return hasDtid;
        }
    });
</script>


<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/Nh1oH0K63yz.js?version=42#channel=f24cb043771bce8&amp;origin=https%3A%2F%2Fwarriorplus.com" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=269882119846307";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="nav" class="navbar navbar-fixed-top wp-navbar">
  <div id="header" class="">
    <div class="container">
      <div id="header-l">
        <h1><span style="color: #990000;">Warrior</span>+Plus</h1>
      </div>
      <div id="header-r">
        <div id="notification-area" class="pull-left"><!----><!----></div>
        <script>
            var vm_notify = new Vue({
                el: '#notification-area',
                firebase: {
                    notification_summary: {
                        source: db.ref('/prod/users/gc3jhnj0hvsn03hv/notification_summary'),
                        asObject: true,
                    }
                },
                methods: {
                    limitCount: function(arg, limitTo=999) {
                        //max_string = String(limitTo) + '+';
                        return (arg > limitTo) ? limitTo : arg;
                    }
                }
            });
        </script>
        <div class="guest-links pull-left">
          <a href="/user/new">Register</a>
          <a href="/login/login.php">Sign In</a>
        </div>
      </div>
    </div>
  </div>
  <div id="menu"><div id="topmenu" class=""><div class="container"><a href="/dashboard" class="home" target=""><i class="icon-home icon-large"></i></a><a href="/wso/" class="" target="">Marketplace</a><a href="/wsopro/dashboard.php" class="" target="">Vendors</a><a href="/wsopro/affiliate/" class="" target="">Affiliates</a><a href="/wso-of-the-day/" class="" target="">Deal of the Day</a><a href="/support/" class=" cur" target="">Support</a></div></div></div><div class="submenu" id="sub-support" style=""><div class="container"> <span class="appname"><a href="/support/"><strong>Support</strong></a></span><span class="item"> <a href="/support/knowledgebase.php">faq/knowledgebase</a></span><span class="item"> <a href="/support/index.php?a=add">submit a ticket</a></span><span class="item"> <a href="/support/ticket.php">view existing ticket</a></span></div></div></div>
<div id="main" class="container">
  <div id="mainbody">
    <div class=" bgcontainer bgcontainer-2">
      <div id="topad" class="container" hidden="" dhym4bq="">
        <div class="adbox adbox-2">
          <div class="ad">
            <div class="adimage">
              <img class="topimage" src="/assets/user/ad_image/wso-of-the-day-banner-256x256.gif">
            </div>
            <div class="adtext">
              <a class="adheadline" href="/advertise/adclick.php?id=9266" target="_blank">
                Image SEO on Crack? (And Video, Too)... </a>
              <div class="adbody">
                "...Unparalleled SEO -- ranks sites unbelievably fast..." </div>
            </div>
          </div>
        </div>
      </div>
    </div><style>
    img {
      max-width: inherit;
      height: none !important;
    }
  </style>

    <div align="center">
      <table border="0" cellspacing="0" cellpadding="5" class="enclosing">
        <tbody><tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="3"><img src="img/headerleftsm.jpg" width="3" height="25" alt=""></td>
                <td class="headersm">Knowledgebase</td>
                <td width="3"><img src="img/headerrightsm.jpg" width="3" height="25" alt=""></td>
              </tr>
              </tbody></table>
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tbody><tr>
                <td valign="top">
<span class="smaller"><a href="https://warriorplus.com" class="smaller">WarriorPlus</a> &gt;
<a href="https://warriorplus.com/support" class="smaller">WarriorPlus Support</a>
&gt; <a href="knowledgebase.php" class="smaller">Knowledgebase</a></span>
                </td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <div style="text-align:center">
              <form action="knowledgebase.php" method="get" style="display: inline; margin: 0;" name="searchform">
                <span class="largebold">Search help:</span>
                <input type="text" name="search" class="searchfield">
                <input type="submit" value="Search" title="Search" class="searchbutton"><br>
              </form>
            </div>
            <br>

            <div id="kb_suggestions" style="display:none">
              <img src="./img/loading.gif" width="24" height="24" alt="" border="0" style="vertical-align:text-bottom"> <i>Loading knowledgebase suggestions...</i>
            </div>
            <script language="Javascript" type="text/javascript"><!--
            hesk_suggestKBsearch();
            //-->
            </script>

            <br>
            <h1 class="intercom-article-title">Paypal Permissions: What and Why</h1>
            <fieldset>
              <legend>Solution</legend>
              <span class="intercom-article-body"><p><span style="font-family: verdana, geneva; font-size: small;">WarriorPlus is making some internal changes to how Paypal payments are handled (<em>tech jargon: we are using a new API</em>).</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> This will allow us to provide more features WSO Pro and the Affiliate system, which will make the system better and easier to use for everyone.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> <strong>WHAT PERMISSIONS DOES WARRIORPLUS NEED?</strong></span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> We will need you to grant us permissions in the following areas:</span><br> <br><span style="font-family: verdana, geneva; font-size: small;">=&gt; Refunds: Allow the system to process refunds on your behalf (1-click refunds)</span><br><span style="font-family: verdana, geneva; font-size: small;"> =&gt; Transaction details: Allow us to see payment details on a specific WSO Pro transaction</span><br><span style="font-family: verdana, geneva; font-size: small;"> =&gt; Contact Information: Allow us to access some basic information about you, like your name, country, Paypal email address, etc...</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> We may not ask for all of these permissions at the same time, and anytime we require further permissions you will need to grant them to us specifically through the same Paypal process. You will always know exactly what you are giving us access to, and why.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> <strong>WHY DOES WARRIORPLUS NEED THESE PERMISSIONS?</strong></span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> The simple answer: because Paypal says so.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> The longer answer:</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> In order for us to effectively manage your sales and/or affiliate commissions, we need to make use of certain tools Paypal supplies to developers for this purpose.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> The old way Paypal did business - and the method WarriorPlus used through early 2012 - was very rudimentary and sometimes unreliable. We had to rely on the Paypal IPN (Instant Payment Notification) system to know when sales were made, refunds were processed, disputes filed, etc... And sometimes these IPN messages are not received by our server, causing products to not be delivered, or incorrect information to be displayed. This hurts everyone.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> In addition to that, the old system does not allow some of the great new features like split payments and commissions, JVs, and automatic refund processing (where you can just click a button to make a refund), all of which we plan to add to WarriorPlus.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> Finally, we also need to know who we are doing business with, and having access to certain contact information allows us to ensure a safe environment for everyone. We will more easily be able to block malicious affiliates or users, allow you to prevent certain buyers you don't want to do business with from buying from you, etc..</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> <strong>WILL WARRIORPLUS HAVE ACCESS TO MY PAYPAL ACCOUNT DETAILS?</strong></span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> No, not at all.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> Paypal only grants access to the specific functions needed to run our system, which does NOT include any access to your account history, password, account balance, profile settings, sending/withdrawing money, or any other thing not related to a WarriorPlus transaction.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> <strong>CAN I TRUST YOU?</strong></span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> We hope so!</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> WarriorPlus is the oldest platform (and BEST, we think ;)) used to sell products on the Warrior Forum. (And actually the ONLY one dedicated to WSOs.)</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> We have been around since 2005, and plan to be around for a lot longer. YOU, our customers, are our greatest asset, and we plan to treat you that way. We would NEVER misuse that trust.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> If you have any questions or concerns, you are always welcome to open a support ticket and we will answer you as quickly as possible.</span><br> <br><span style="font-family: verdana, geneva; font-size: small;"> -----</span><br><span style="font-family: verdana, geneva; font-size: small;"><em>Updated: 2012-04-30. &nbsp;This document will be updated as often as needed to address new questions.</em></span></p></span>
              <div id="rating" class="rate" align="right">&nbsp;<br>Was this article helpful?
                <a href="Javascript:void(0)" onclick="Javascript:window.location='knowledgebase.php?rating=5&amp;id=43'" rel="nofollow">yes</a> /
                <a href="Javascript:void(0)" onclick="Javascript:window.location='knowledgebase.php?rating=1&amp;id=43'" rel="nofollow">no</a>
              </div>
            </fieldset><fieldset><legend>Related articles</legend><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=154">External Membership Integration Information</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=62">How to List Products &amp; Offers on WarriorPlus (And OTOs/Upsells)</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=108">What is the "Deal of the Day" and how can my offer be featured?</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=73">Vendor NOT responding to support tickets or refund requests</a><br><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle;padding:2px;"> <a href="knowledgebase.php?article=7">I am having trouble logging in to my WarriorPlus account with my Warrior Forum username.</a><br></fieldset>
            <fieldset>
              <legend>Article details</legend>
              <table border="0">
                <tbody><tr>
                  <td>Article ID: </td>
                  <td>43</td>
                </tr>
                <tr>
                  <td>Category: </td>
                  <td><a href="knowledgebase.php?category=14" class="intercom-article-category">General - My Account</a></td>
                </tr>
                <tr>
                  <td>Date added: </td>
                  <td>2012-03-01 6:43pm</td>
                </tr>
                <tr>
                  <td>Views: </td>
                  <td>22806</td>
                </tr>
                <tr>
                  <td>Rating (Votes):</td>
                  <td><img src="img/star_40.png" width="85" height="16" alt="Article rated 4.0/5.0" title="Article rated 4.0/5.0" border="0" style="vertical-align:text-bottom"> (526)</td>
                </tr>
                </tbody></table>
            </fieldset>
            <p>&nbsp;<br>« <a href="javascript:history.go(-1)">Go back</a></p>
          </td></tr></tbody></table></div></div>
</div>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h5>EXPLORE</h5>
        <hr>
        <ul>
          <li><a href="/wso-of-the-day/">Deal Of The Day</a></li>
          <li><a href="/wsopro/">Sell Your Products</a></li>
          <li><a href="/wsopro/affiliate">Become An Affiliate</a></li>
          <li><a href="/wso/">Marketplace</a></li>
        </ul>
      </div>
      <div class="span3">
        <h5>COMPANY</h5>
        <hr>
        <ul>
          <li><a href="/support/">Help &amp; Support</a></li>
          <li><a href="/advertise/">Advertise</a></li>
          <li><a href="/legal/tos.php">Terms</a> &amp; <a href="/legal/privacy.php">Privacy</a></li>
          <li><a href="/api/docs/">API</a></li>
        </ul>
      </div>
      <div class="span3">
        <h5>CONNECT</h5>
        <hr>
        <ul>
          <li><a href="https://www.facebook.com/wrplus" target="_blank"><i class="icon-facebook-sign"></i> Facebook</a></li>
          <li><a href="https://twitter.com/WSOTracker" target="_blank"><i class="icon-twitter-sign"></i> Twitter</a></li>
          <li><a href="https://plus.google.com/+Warriorplus" target="_blank"><i class="icon-google-plus-sign"></i> Google+</a></li>
          <li><a href="https://www.youtube.com/warriorplusvideo" target="_blank"><i class="icon-youtube-sign"></i> YouTube</a></li>
        </ul>
      </div>
      <div class="span3">
        <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/wrplus" data-layout="standard" data-action="like" data-show-faces="true" data-share="false" data-colorscheme="dark" data-width="220px" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=269882119846307&amp;color_scheme=dark&amp;container_width=220&amp;href=https%3A%2F%2Fwww.facebook.com%2Fwrplus&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;width=220px"><span style="vertical-align: bottom; width: 225px; height: 32px;"><iframe name="f4e6f729255c1c" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/like.php?action=like&amp;app_id=269882119846307&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FNh1oH0K63yz.js%3Fversion%3D42%23cb%3Df3952caad652924%26domain%3Dwarriorplus.com%26origin%3Dhttps%253A%252F%252Fwarriorplus.com%252Ff24cb043771bce8%26relation%3Dparent.parent&amp;color_scheme=dark&amp;container_width=220&amp;href=https%3A%2F%2Fwww.facebook.com%2Fwrplus&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;width=220px" style="border: none; visibility: visible; width: 225px; height: 32px;" class=""></iframe></span></div>
        <strong style="font-size: 16px"><span class="lightgrey">Warrior</span><span class="darkgrey">+Plus</span></strong>
        <small>© 2006-2018</small>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-74776-7']);
    _gaq.push(['_setDomainName', 'warriorplus.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    (function() {
        window._pa = window._pa || {};
        // _pa.orderId = "myCustomer@email.com"; // OPTIONAL: attach user email or order ID to conversions
        // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
        var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
        pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/5265944071686a380300010a.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
    })();
</script>
<script type="text/javascript">
    adroll_adv_id = "KD3RBGHXH5DG3PI3RBAUIR";
    adroll_pix_id = "FKQRAFP6HZHONOPBPNAQUD";
    (function () {
        var oldonload = window.onload;
        window.onload = function(){
            __adroll_loaded=true;
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            if(oldonload){oldonload()}};
    }());
</script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="async"></script>
<script>
    var OneSignal = window.OneSignal || [];

    OneSignal.push(["init", {
        appId: "596afbc1-2014-4369-a904-3b25c9c36435",
        safari_web_id: 'web.onesignal.auto.12e0c5f3-6b76-47bb-8015-fa3026009bd5',

        autoRegister: false, /* Set to true to automatically prompt visitors */

        notifyButton: {
            enable: true,
            size: 'large',
            prenotify: true,

            displayPredicate: function() {
                return OneSignal.isPushNotificationsEnabled()
                    .then(function(isPushEnabled) {
                        /* The user is subscribed, so we want to return "false" to hide the notify button */
                        //return !isPushEnabled;
                    });
            },
        },

        promptOptions: {
            /* Subtitle, limited to 90 characters */
            actionMessage: "Get sale notifications, affiliate requests, updates and more...",
            /* Example notification title */
            exampleNotificationTitle: 'An Awesome Notification',
            /* Example notification message */
            exampleNotificationMessage: 'Some great content you need to see',
            /* Text below example notification, limited to 50 characters */
            exampleNotificationCaption: 'You can unsubscribe anytime',
            /* Accept button text, limited to 15 characters */
            acceptButtonText: "ALLOW",
            /* Cancel button text, limited to 15 characters */
            cancelButtonText: "NO THANKS"
        },

    }]);

    var perm;

    OneSignal.push(function() {
        OneSignal.getNotificationPermission(function(permission) {
            perm = permission;
        });

        OneSignal.isPushNotificationsEnabled(function(isPushEnabled) {
            if (isPushEnabled) {
                OneSignal.getUserId(function(userId) {
                    $.post( "/include/tracking/onesignal.php", { did: userId, perm: perm }, function( data ) {
                    });
                });

            }
        });

    });
</script>
<script type="text/javascript">
    window.intercomSettings = {"app_id":"jb72teiz"};

    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/jb72teiz';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>


<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"29544d79fd","applicationID":"13565798","transactionName":"NAMDMUdYW0JYAhELVw1JNBdcFkZESREKEExMDQ8KQlVQVV4EBwNLBkgRDUU=","queueTime":0,"applicationTime":164,"atts":"GEQARw9CSEw=","errorBeacon":"bam.nr-data.net","agent":""}</script><iframe id="intercom-frame" style="display: none;"></iframe><div id="intercom-container" style="position: fixed; width: 0px; height: 0px; bottom: 0px; right: 0px; z-index: 2147483647;"><div data-reactroot="" class="intercom-app"><span></span><span></span><!-- react-empty: 4 --><span></span><!-- react-empty: 6 --></div></div><div id="onesignal-bell-container" class="onesignal-bell-container onesignal-reset onesignal-bell-container-bottom-right"><div id="onesignal-bell-launcher" class="onesignal-bell-launcher onesignal-bell-launcher-lg onesignal-bell-launcher-bottom-right onesignal-bell-launcher-theme-default onesignal-bell-launcher-active"><div class="onesignal-bell-launcher-button"><svg class="onesignal-bell-svg" xmlns="http://www.w3.org/2000/svg" width="99.7" height="99.7" viewBox="0 0 99.7 99.7" style="filter: drop-shadow(0 2px 4px rgba(34,36,38,0.35));; -webkit-filter: drop-shadow(0 2px 4px rgba(34,36,38,0.35));;"><circle class="background" cx="49.9" cy="49.9" r="49.9" style=""></circle><path class="foreground" d="M50.1 66.2H27.7s-2-.2-2-2.1c0-1.9 1.7-2 1.7-2s6.7-3.2 6.7-5.5S33 52.7 33 43.3s6-16.6 13.2-16.6c0 0 1-2.4 3.9-2.4 2.8 0 3.8 2.4 3.8 2.4 7.2 0 13.2 7.2 13.2 16.6s-1 11-1 13.3c0 2.3 6.7 5.5 6.7 5.5s1.7.1 1.7 2c0 1.8-2.1 2.1-2.1 2.1H50.1zm-7.2 2.3h14.5s-1 6.3-7.2 6.3-7.3-6.3-7.3-6.3z" style=""></path><ellipse class="stroke" cx="49.9" cy="49.9" rx="37.4" ry="36.9" style=""></ellipse></svg></div><div class="onesignal-bell-launcher-badge" style="filter: drop-shadow(0 2px 4px rgba(34,36,38,0));; -webkit-filter: drop-shadow(0 2px 4px rgba(34,36,38,0));;"></div><div class="onesignal-bell-launcher-message"><div class="onesignal-bell-launcher-message-body"></div></div><div class="onesignal-bell-launcher-dialog" style="filter: drop-shadow(0px 2px 2px rgba(34,36,38,.15));; -webkit-filter: drop-shadow(0px 2px 2px rgba(34,36,38,.15));;"><div class="onesignal-bell-launcher-dialog-body"></div></div></div></div></body>