<ul class="article_list">
  <li>
    <a href="https://alpha-omar-blog.herokuapp.com/kb/article-a" rel="bookmark">
      Article awfgsdg                                        </a>
  </li>
  <li>
    <a href="https://alpha-omar-blog.herokuapp.com/kb/article-b" rel="bookmark">
      Article b                                        </a>
  </li>
</ul>
