<table border="0" width="100%" cellspacing="0" cellpadding="1">
  <tbody><tr>
    <td width="1" valign="top"><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle"></td>
    <td valign="top"><a href="kb/article-a" class="intercom-article-title">How to List Products &amp; Offers on WarriorPlus (And OTOs/Upsells)</a></td>
    <td width="1" valign="top"><img src="img/star_35.png" width="85" height="16" alt="Article rated 3.3/5.0" title="Article rated 3.3/5.0" border="0" style="vertical-align:text-bottom"></td>
  </tr>
  </tbody></table>

<table border="0" width="100%" cellspacing="0" cellpadding="1">
  <tbody><tr>
    <td width="1" valign="top"><img src="img/article_text.png" width="16" height="16" border="0" alt="" style="vertical-align:middle"></td>
    <td valign="top"><a href="kb/article-b" class="intercom-article-title">How do I process refunds? (Vendors)</a></td>
    <td width="1" valign="top"><img src="img/star_35.png" width="85" height="16" alt="Article rated 3.3/5.0" title="Article rated 3.3/5.0" border="0" style="vertical-align:text-bottom"></td>
  </tr>
  </tbody></table>
<a href ="kb/articlec"><</a>