<ul class="article_li">
  <li>
    <a href="https://alpha-omar-blog.herokuapp.com/kb/article-a" rel="bookmark">
      Article awfgsdg                                        </a>
  </li>
  This is some text a
  <li>
    <a href="https://alpha-omar-blog.herokuapp.com/kb/article-b" rel="bookmark">
      Article b                                        </a>
  </li>
  This is some text b
  <li>
    <a href="https://alpha-omar-blog.herokuapp.com/kb/article-c" rel="bookmark">
      Article c                                        </a>
  </li>

  <li>
    <a href="knowledgebase.php?article=62" rel="bookmark">How to List Products &amp; Offers on WarriorPlus (And OTOs/Upsells)</a>
  </li>
</ul>



